# Compiled Object files
*.slo
*.lo
*.o
*.obj

# executable names used in this project
*.exe

# vim temporary files
*.swp
*.swn
*.swo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
